.title {

    &__top {
        position: relative;
        top: -16px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: #FFFFFF;   
    }

    &__link {
        display: inline-block;
        position: relative;
        color: #24a3ff;

        & h3 {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &:hover {
            color: #f0145a;

            &:after {
                background: url("../images/icons/icon_arrow_right_hover.png");
            }
        }

        &::after {
            content: "";
            position: absolute;
            background: url("../images/icons/icon_arrow_right.png") center no-repeat;
            width: 12px;
            height: 13px;
            top: 13%;
            right: -14px;
        }       
    }

    &__suptitle {
        font-size: 30px;
        line-height: 37px;
        background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 22px;
    }

    &__name {
        margin-bottom: 6px;
        line-height: 20px;
        color: #B3B3BA;
    }
}

.clients .title__subtitle {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #323264;
    margin-bottom: 30px;
}

.publications .title__suptitle {
    margin-top: 5px;
    margin-bottom: 30px;
}

.team .title__suptitle {
    margin-top: 5px;
    margin-bottom: 30px;
}

.popup .title__suptitle {
    margin-top: 0;
    margin-right: 32px;
}

.popup .title__subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
}

.experiance .title {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.popup .title__suptitle {
    margin-bottom: 30px;
}

@media (min-width: 768px) {

    .title {

        &__top {
            top: -76px;
        }
    }

    .title__suptitle {
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 60px;
    }

    .experiance .title {
        font-size: 30px;
        line-height: 37px;
    }
}



