.wrapper {
    max-width: calc(100% - 60px);
    margin-right: auto;
    margin-left: auto;
}

.publication__wrapper {
    max-width: calc(100% - 60px);
    margin-right: auto;
    margin-left: auto;
}

.team__wrapper {
    max-width: calc(100% - 60px);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: calc(100% - 120px);
    }
}

@media (min-width: 1024px) {
    .team__wrapper {
        padding: 30px; 
        margin: 0;

    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1600px;
    }

    .clients {
        &__wrapper {
            max-width: 1720px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
