* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper__clients {
    max-width: 1720px;
    margin-right: auto;
    margin-left: auto;
    
}

.services {
    position: relative;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-top: 60px;
}

.services::before {
    content: "";
    position: absolute;
    height: 10px;
    background-color: #fff;
    background: #cacadb;
    border-radius: 0px 0px 12px 12px;
    left: 20px;
    right: 20px;
    bottom: -10px;
}

.services::after {
    content: "";
    position: absolute;
    height: 10px;
    background-color: #fff;
    background: #e7e7f2;
    border-radius: 0px 0px 12px 12px;
    left: 40px;
    right: 40px;
    bottom: -20px;
}

.services__link {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24a3ff;
}

.services__link:hover {
    color: #f0145a;
}

.services__link::after {
    content: "";
    position: absolute;
    background: url("../images/icons/icon_arrow_right.png") center no-repeat;
    width: 12px;
    height: 13px;
    top: 13%;
    right: -14px;
}

.services__link:hover:after {
    background: url("../images/icons/icon_arrow_right_hover.png");
}

.services__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    margin-top: 10px;
    margin-bottom: 60px;
}

.services__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    width: 493.33px;
    margin-bottom: 60px;
}

.services__images {
    padding: 14px;
    background: #ffffff;
    border-radius: 24px;
}

.services__item--link {
    display: block;
    line-height: 27px;
    color: #24a3ff;
    margin-top: 30px;
    margin-bottom: 15px;

    &:hover {
        color: #f0145a;
        cursor: pointer;
    }
}

.services__subtitle {
    font-weight: 700;
    font-size: 22px;

}

.services__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        color: #323264;
        margin-bottom: 30px;
    }
    
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 12px;
        overflow: hidden;
    }

}

.client {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 120px;

    &:hover {
        opacity: .5;
    }

    &__hillel {
        background-color: #1c4280;
    }

    &__wannabiz {
        background-color: #143646;
    }

    &__tapgerine {
        background-color: #F48B30;
    }

    &__3dlook {
        background-color: #9E4DC3;
    }

    &__orangear {
        background-color: #FD9339;
    }

    &__adtelligent {
        background-color: #E2E2E4;
    }

    &__clickky {
        background-color: #C71C36;
    }

    &__leasing {
        background-color: #DCF3F9;
    }

    &__ingratek {
        background-color: #EAEAEA;
    }

    &__city-par {
        background-color: #282240;
    }

    &__artprint {
        background-color: #1D4568;
    }

    &__ultimatecard {
        background-color: #000000;
    }
}