.experiance {
    overflow: hidden ;
    background-color: #323264;

    &__navigation {
        display: flex;
        width: 1928px;
        margin-top: 30px;
        margin-bottom: 30px;

        & a {
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            color: #B3B3BA;
            margin-right: 30px;
        }

        & a:last-child {
            margin-right: 0;
        }
    }

    &__link {    

        &--active {
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            /* text-fill-color: transparent; */
        }
    
        &:hover {
            color: #F0145A;
        }    
    }
    
    &__item {
        border-top: 4px solid rgba(255, 255, 255, 0.3);
        padding-top: 30px;
    }
}

@media (min-width: 768px) {
    .experiance {
    
        &__navigation {
            margin-bottom: 60px;
    
            & a {
                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
            }
        }
        
        &__item {
            padding-top: 60px;
        }
    }
}

@media (min-width: 1024px) {

    .experiance__items {
        display: flex;
        margin-top: 60px;
    }

    .ittem {
        display: flex;
        align-content: center;
        width: 50%;
        height: 303px;
    }

    .experiance__navigation {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 58px;
        margin-top: 0;
        margin-bottom: 0;
        border-right: 2px solid rgba(255, 255, 255, 0.3); 

        & a {
            margin-right: 0;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    .experiance__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: none;
        padding-top: 0;
        padding-left: 58px;
        border-left: 2px solid rgba(255, 255, 255, 0.3);
    }
}