footer {
    background: #F5F5FA;
}

.footer__items {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid #E6E6F0;
    background: #F5F5FA;
    padding-top: 30px;
    padding-bottom: 30px;

    & address {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #323264;
        margin-bottom: 10px;
        order: 1;

    }    
}

/* .footer__item {
    display: flex;
    flex-direction: column;
} */

.target__map {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    margin-bottom: 21px;
    order: 2;
    
    
}

.link_fb {
    order: 3;
}

.tell__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #46466E;
    margin-top: 10px;
    margin-bottom: 10px;
    order: 4;
}

.mail__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
    margin-bottom: 30px;
    order: 5;
    
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    order: 6;
    

    
}

@media (min-width: 768px) {

    .footer__items {
        flex-direction: row;
        flex-wrap: wrap;
    
        & address {
            margin-bottom: 0;
            
    
        }    
    }


    .footer__item {
        display: flex;
        align-items: center;
        
        width: 33.33%;
        

        
    }

    


    /* .footer__item {
        flex-direction: row;
        align-items: center;

        &:first-child {
            justify-content: space-between;
        }
    } */

    .target__map {
        margin-bottom: 0;
        
    }


    .tell__item {
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
        
    }
    
    .mail__item {
        margin-bottom: 0;  
        display: inline;     
        
    }

    .link_fb {
        
    }

    .copyright {
        order: 2;
    }


}
