.header {
    position: relative;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

    & .wrapper {
        max-width: calc(100% - 30px);
    }

    
}


.header {
    background: url(/images/header/symbol.png);
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 


}

.header_test {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0px;
    height: 45px;
    padding: 10px 15px;
    background-color: rgba(245, 245, 250, 0.2);


}


.header__test__tel {
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
}

.header__test__btn {
    font-family: 'Montserrat', serif;
    border: none;
    padding: 5px 7px;
    background-color: rgba(245, 245, 250, .0);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    gap: 6px;
}

.header__test__btn--active {
    border: none;
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #F0145A;
    border-radius: 8px;
    gap: 6px;
}

.header__test__btn:hover {
    background-color: rgba(245, 245, 250, .3);
    border-radius: 8px;
    color: #F0145A;

}

.header__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 30px;


}


.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;

}



.nav__item {
display: flex;
align-items: center;


}


.nav__item p {
    display: flex;
    align-items: center;
    margin-left: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}


.header__title {
    position: relative;
    top: -15px;


}

.header__title h1 {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    
}

.header__btn {

    position: relative;
    width: 42px;    
    height: 42px;
    border: 2px solid #FFFFFF;
    opacity: .5;
    border-radius: 50%;

    

}

.header__btn:hover {
      border: 2px solid #F0145A;
}

.header__btn__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   


}

.header__btn__item:hover {
    background-color: #F0145A;
}



/* ================   TEST   ===================== */

.test {
    background-color: #323264;
}

.test__menu {
    
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, .3);
}

.test__menu a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #B3B3BA;

}

.test__block {
    margin-top: 30px;
    

}

.test__title h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.test__text p {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;    
    color: #FFFFFF;
}