.header {
    position: relative;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background: url("../images/header/symbol.png");
    background-color: #323264;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 30px;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;
}

.header__btn {
    position: relative;
    width: 42px;    
    height: 42px;
    border: 2px solid #9999b2;
    border-radius: 50%;
  

    &:hover {
        border: 2px solid #90235e;
    }

    &__item {
        display: flex;
        justify-content: center;
        position: absolute;
        top: calc(50% + 2px);
        left: 50%;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        align-items: center;
        transform: translate(-50%, -50%); 

         &:hover svg path {
            stroke: #F0145A;
        }
    }
}

@media (min-width: 1024px) {
    .header {
        background-size: contain;
    }
}