.services {
    position: relative;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.services::before {
    content: "";
    position: absolute;
    height: 10px;
    background: #cacadb;
    border-radius: 0px 0px 12px 12px;
    left: 20px;
    right: 20px;
    bottom: -10px;
}

.services::after {
    content: "";
    position: absolute;
    height: 10px;
    background: #e7e7f2;
    border-radius: 0px 0px 12px 12px;
    left: 40px;
    right: 40px;
    bottom: -20px;
}

.services__item {
    width: 100%;
    margin-bottom: 30px;
}

.services__item--link {
    display: block;
    line-height: 27px;
    color: #24a3ff;
    margin-top: 30px;
    margin-bottom: 15px;

    &:hover {
        color: #f0145a;
        cursor: pointer;
    }
}

.services__images {
    padding: 14px;
    background: #ffffff;
    border-radius: 24px;
}

.services__text {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

@media (min-width: 768px) {

    .services {
        padding-top: 60px;
        padding-bottom: 0;
    }

    .services__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .services__item {
          width: calc(50% - 30px);
          margin-bottom: 60px;
    }
}

@media (min-width: 1024px) {

    .services__item {
        width: calc(33.33% - 30px);
        margin-bottom: 60px;
  }
}