.team {
    padding-top: 50px;

    &__items {
        background: #F5F5FA;
        border-radius: 12px;
        padding-bottom: 30px;
        margin-bottom: 30px;        
    }
}

.team__image {
    display: flex;
    align-items: center;
    height: 500px;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 30px;
    background: url(/images/teams/team_01.jpg) center;
    background-size: cover;
}

.slider {
    display: flex;
    justify-content: space-between;
    width: 78px;
    margin-right: auto;
    margin-left: auto;

    &__link {   
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #24A3FF;
        opacity: .2;        

        &--active {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #24A3FF;
            opacity: 1;
        }
    }
}

@media (min-width: 768px) {
    .team {
        padding-top: 80px;
    }
}

@media (min-width: 1024px) {
    .team {
            
        &__items {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;            
        }       
    }

    .team__image {
        height: auto;
        min-width: 400px; 
        border-radius: 12px 0px 0px 12px;
        margin-bottom: 0;
    }    
}